@model Candidaturas.Models.User

@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <style>
        #login-div {
            position: absolute;
            left: 40%;
            top: 40%;
            padding: 10px 10px;
        }
    </style>
</head>
<body>
    <div id="login-div" class="form-group">
        <img src="~/Content/marinha.png" alt="Logo Marinha" />
        @using (Html.BeginForm("Authorize", "Login", FormMethod.Post))
        {
            <table>
                <br />
                <tr>
                    <td>@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                    <td>@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @required = true } })</td>
                </tr>
                <tr>
                    <td></td>
                    <td>@Html.ValidationMessageFor(model => model.Email)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                    <td>@Html.EditorFor(model => model.PasswordInput, new { htmlAttributes = new { @class = "form-control", @required = true, @type = "password" } })</td>
                </tr>
                <tr>
                    <td></td>
                    <td>@Html.ValidationMessageFor(model => model.Password)</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span class="text-danger" style="margin-left: 100px;">@Html.DisplayFor(model => model.LoginErrorMessage)</span>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" name="name" value="Login" class="btn btn-default" />
                        <div style="margin-top:15px; font-size: 15px;">
                            @Html.ActionLink("Criar Nova Conta", "NewUser", "User", null, new { @class = "register-link" }) |
                            @Html.ActionLink("Recuperar Password", "RecoverPassword", "User", null, new { @class = "register-link" })
                        </div>
                    </td>
                </tr>
            </table>
        }

    </div>
</body>
</html>
