@model Candidaturas.Models.DocModel
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row my-4 ">
        <div class="col-sm-6 card text-center align-middle">
            <h2>Bem - Vindo Candidato n'25</h2>
        </div>
        <div class="col-sm-6 ">
            @if (ViewBag.Formulario)
            {
                @Html.ActionLink("Download Comprovativo", "DownloadFormulario", "Home", new { @class = "btn btn-outline-primary" });
            }
            else
            {
                @Html.ActionLink("Preencher Cadidatura", "DadosPessoais", "Formulario", null, new { @class = "btn btn-primary" });
            }

        </div>
    </div>
</div>
<hr />
<div class="container">
    <div class="row">
        <h3>Documentos</h3>
    </div>

    <div class="row">
        <div class="col-4">
            <div class="container">
                @using (Html.BeginForm("UploadDocumento", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.DocumentoInfo.Nome, "Seleccionar Documento", htmlAttributes: new { @class = "control-label " })
                        <div class="">
                            <input type="file" name="file" id="FicheiroInput" />
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DocumentoInfo.Descricao, "Adicionar Descrição (opcional)", htmlAttributes: new { @class = "control-label" })
                        <div class="">
                            @Html.EditorFor(model => model.DocumentoInfo.Descricao, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DocumentoInfo.Descricao, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="">
                            <span id="errorLabel" class="text-danger" style="display:none;margin-top:auto;">Por favor insira um ficheiro pdf ou jpeg válido.</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="">
                            <input type="submit" value="Enviar Documento" class="btn btn-primary" />
                        </div>
                    </div>

                }
            </div></div>

        @if (ViewBag.DocumentosUser != null)
        {
        <div class="col">
            <div class="container">
                <table class="table">                    
                    @foreach (var documento in @ViewBag.DocumentosUser)
                    {
                        <tr>
                            <td class="row">
                                <div class="col-6">@documento.DocumentoInfo.Nome</div>
                                <div class="col-3"><a class="fa fa-download badge badge-primary text-light p-2" onclick="location.href='@Url.Action("DownloadDocumento", "Home", new { id = (int)documento.DocumentoInfo.ID })'"><span> Download</span></a></div>
                                <div class="col-3"><a class="fa fa-minus-circle badge badge-danger text-light p-2" onclick="location.href='@Url.Action("RemoveDocumento", "Home", new { id = (int)documento.DocumentoInfo.ID })'"><span> Remover</span></a></div>
                                @if (documento.DocumentoInfo.Descricao != null) {
                                    <div class="row my-4 px-5">
                                        <p class="text-muted">@documento.DocumentoInfo.Descricao</p>
                                    </div>
                                }

                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        }
    </div>
</div>
