@model Candidaturas.Models.Inquerito

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Inquerito", "Formulario", FormMethod.Post, new { @id = "formInquerito" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="margin-top: 20px;">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.SituacaoPai, "Situação do Pai", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.SituacaoPai, ViewBag.SituacaoPai as SelectList, "Escolha uma opção...", new { @class = "form-control", @id = "situacaoPai" })
                @Html.ValidationMessageFor(model => model.SituacaoPai, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id="situacaoPaiOutra" style="display:none">
            @Html.LabelFor(model => model.OutraPai, "Outra", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OutraPai, new { htmlAttributes = new { @class = "form-control", @Value = (ViewBag.Inquerito == null ? "" : ViewBag.Inquerito.OutraPai) } })
                @Html.ValidationMessageFor(model => model.OutraPai, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SituacaoMae, "Situação da Mãe", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.SituacaoMae, ViewBag.SituacaoMae as SelectList, "Escolha uma opção...", new { @class = "form-control", @id = "situacaoMae" })
                @Html.ValidationMessageFor(model => model.SituacaoMae, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id="situacaoMaeOutra" style="display:none">
            @Html.LabelFor(model => model.OutraMae, "Outra", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OutraMae, new { htmlAttributes = new { @class = "form-control", @Value = (ViewBag.Inquerito == null ? "" : ViewBag.Inquerito.OutraMae) } })
                @Html.ValidationMessageFor(model => model.OutraMae, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConhecimentoEscola, "Conhecimento da Escola", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ConhecimentoEscola, ViewBag.ConhecimentoEscola as SelectList, "Escolha uma opção...", new { @class = "form-control", @id = "conhecimentoEscola" })
                @Html.ValidationMessageFor(model => model.ConhecimentoEscola, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id="conhecimentoEscolaOutro" style="display:none">
            @Html.LabelFor(model => model.Outro, "Outro", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Outro, new { htmlAttributes = new { @class = "form-control", @Value = (ViewBag.Inquerito == null ? "" : ViewBag.Inquerito.Outro) } })
                @Html.ValidationMessageFor(model => model.Outro, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CandidatarOutros, "Candidatou-se a outros Estabelecimentos de Ensino?", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <label class="switch">
                    @Html.CheckBoxFor(model => model.CandidatarOutros, new { @class = "form-control" })
                    <div class="slider"></div>
                </label>
                <span id="switchLabel"></span>
                @Html.ValidationMessageFor(model => model.CandidatarOutros, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
}

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<!--<link rel="stylesheet" type="text/css" href="~/Content/Candidaturas.css">-->

@if (ViewBag.Inquerito != null)
{
    <script type="text/javascript">
    $(document).ready(function () {

        var candidatarOutros = '@ViewBag.Inquerito.CandidatarOutros';

        if (candidatarOutros == 'True') {
            $("#CandidatarOutros").prop('checked', true);
            $("#switchLabel").text("Sim");
        }
        else {
            $("#CandidatarOutros").prop('checked', false);
            $("#switchLabel").text("Não");
        }

        if ($("#situacaoPai").val() == "Outra") {
            $("#situacaoPaiOutra").show();
        }

        if ($("#situacaoMae").val() == "Outra") {
            $("#situacaoMaeOutra").show();
        }

        if ($("#conhecimentoEscola").val() == "Outros") {
            $("#conhecimentoEscolaOutro").show();
        }

    });
    </script>
}

<script type="text/javascript">

    //verifica se houve alterações na tab Inquérito
    var inqueritoChanged = false;

    $('#formInquerito input').change(function () {
        inqueritoChanged = true;
    });
    $('#formInquerito select').change(function () {
        inqueritoChanged = true;

        checkOther();

    });

    //Show & Hide of Outra fields
    function checkOther() {
        if ($("#situacaoPai").val() == "Outra") {
            $("#situacaoPaiOutra").show();
        } else {
            $("#situacaoPaiOutra").hide();
        }

        if ($("#situacaoMae").val() == "Outra") {
            $("#situacaoMaeOutra").show();
        } else {
            $("#situacaoMaeOutra").hide();
        }

        if ($("#conhecimentoEscola").val() == "Outros") {
            $("#conhecimentoEscolaOutro").show();
        } else {
            $("#conhecimentoEscolaOutro").hide();
        }
    }

    //muda a label do switch
    $('#CandidatarOutros').click(function () {
        changeLabel();
    });

    $(document).ready(function () {
        changeLabel();
    });

    function changeLabel() {
        if (!$("#CandidatarOutros").is(':checked')) {
            $("#switchLabel").text("Não");
        }
        else {
            $("#switchLabel").text("Sim");
        }
    }
</script>
<style>
    #switchLabel {
        position: absolute;
        margin-left: 10px;
        margin-top: 7px;
        font-weight: bold;
    }

</style>
