@using Candidaturas.Models;

@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.AntiForgeryToken()

<div class="row">
    <div class="col">
        <h2 class="candidaturasHeader">Exames</h2><hr />
        <div class="form-inline">
            <div class="col"> 
                @Html.DropDownList("Exame", ViewBag.Exame as SelectList, "Escolha uma opção...", new { @class = "form-control", @name = "ExameARegistar" })
            </div>
            <div class="col">
                <input id="AddExame" type="submit" value="Adicionar Exame" class="btn btn-outline-primary" />
            </div>
            <input id="SelectedExame" name="SelectedExame" type="hidden" runat="server" />
        </div>

        <table class="table my-4">
            @foreach (Exame exame in Model.ExamesEscolhidos)
            {
                <tr>
                    <td>@exame.Nome</td>
                    <td>
                        <a class=" fa fa-times-circle badge badge-danger text-light p-2" onclick="location.href='@Url.Action("RemoverExame", "Formulario", new { id = (int)@exame.ID })'"><span> Remover</span></a>
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="col">
        <h2 class="candidaturasHeader">Cursos</h2><hr />
        <div class="form-inline">
            <div class="col">
                @Html.DropDownList("Curso", ViewBag.Curso as SelectList, "Escolha uma opção...", new { @class = "form-control", @name = "CursoARegistar" })
            </div>
            <div class="col">
                <input id="AddCurso" type="submit" value="Adicionar Curso" class="btn btn-outline-primary" />
            </div>
            <input id="SelectedCurso" name="SelectedCurso" type="hidden" runat="server" />
        </div>

        <table class="table my-4" id="mytable">
            @{ 
                int numeroCursosEscolhidos = Model.CursosEscolhidos.Count;
                foreach (CursoDisplay curso in Model.CursosEscolhidos)

                {
                <tr>
                    <td>@curso.prioridade.</td>
                    <td>@curso.nome</td>
                    <td>
                        <a class="fa fa-times-circle badge badge-danger text-light p-2 " onclick="location.href='@Url.Action("RemoverCurso", "Formulario", new { id = (int)@curso.ID })'"><span> Remover</span></a>
                    </td>

                    <td>
                        @if (curso.prioridade != 1)
                        {
                            <a class="fa fa-chevron-up badge badge-light p-2" onclick="location.href='@Url.Action("MoverParaCima", "Formulario", new { id = (int)@curso.ID })'"><span> Mais Prioritário</span></a>
                        }
                    </td>


                    <td>
                        @if (curso.prioridade != numeroCursosEscolhidos) {
                            <a class="fa fa-chevron-down badge badge-light p-2" onclick="location.href='@Url.Action("MoverParaBaixo", "Formulario", new { id = (int)@curso.ID })'"><span> Menos Prioritário</span></a>
                        }
                            
                    </td>
                </tr>
                    } 
            }
        </table>

        <table class="table">
            <tr><td><h4 class="candidaturasHeader">Exames Necessários</h4></td></tr>
            @foreach (String exame in Model.ExamesNecessários)
            {
                <tr>
                    <td><span class="text-muted">@exame</span></td>
                </tr>
            }
        </table>
    </div>

</div>
<div class="row">
    @Html.ActionLink("Finalizar Candidatura", "PDFGen", "Formulario", null, new { @class = "btn btn-primary" })
</div>

<script>
    $('#Exame').bind('change', function () {
        $('#SelectedExame').val($(this).val());
    });

    $('#Curso').bind('change', function () {
        $('#SelectedCurso').val($(this).val());
    });

    $(document).ready(function () {

        $("#AddExame").click(function () {
            var hidValue = $("#SelectedExame").val();

            if (hidValue != "") {
                $.ajax({
                    url: '@Url.Action("AdicionarExame", "Formulario")',
                    type: "post",
                    data: { ExameSeleccionado: hidValue },
                    dataType: "application/json", //type of response
                    success: window.location.href = '',
                    error: window.location.href = '',
                })
            } else {
                window.alert("Por favor selecione um exame da lista.");
            }

        });

        $("#AddCurso").click(function () {
            var hidValue = $("#SelectedCurso").val();
            if (hidValue != "") {
                $.ajax({
                    url: '@Url.Action("AdicionarCurso", "Formulario")',
                    type: "post",
                    data: {CursoSeleccionado:hidValue},
                    dataType: "application/json", //type of response
                    success: window.location.href = '',
                    error: window.location.href = '',
                })
            } else {
                window.alert("Por favor selecione um curso da lista.");
            }
        });
    });

    //verifica se houve alterações na tab Candidatura
    var candidaturaChanged = false;

    $('#Exame').change(function () {
        candidaturaChanged = true;
    });
    $('#Curso').change(function () {
        candidaturaChanged = true;
    });

</script>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
