@using Candidaturas.Models;

@model dynamic

@{
    Layout = null;
}

@Html.AntiForgeryToken()

<div class="row">
    <div class="row">
        <h2 class="candidaturasHeader required">Cursos</h2><hr />
        <div class="form-inline">
            <div class="col">
                @Html.DropDownList("Curso", ViewBag.Curso as SelectList, "Escolha uma opção...", new { @class = "form-control", @name = "CursoARegistar", @required = "required"})
            </div>
            <div class="col">
                <input id="AddCurso" type="submit" value="Adicionar Curso" class="btn btn-outline-primary" />
            </div>
            <input id="SelectedCurso" name="SelectedCurso" type="hidden" runat="server" />
        </div>

        <table class="table my-5" id="mytable">
            <tr>
                <th><b>Prioridade</b></th>
                <th><b>Nome</b></th>
                <th><b>Exames necessários</b></th>
                <th></th>
            </tr>
            @{
                int numeroCursosEscolhidos = Model.CursosEscolhidos.Count;
                @Html.Hidden("numeroCursosEscolhidos", numeroCursosEscolhidos);
                foreach (CursoDisplay curso in Model.CursosEscolhidos)

                {
            <tr>
                <td>
                    @if (ViewBag.finalizado == false)
                    {
                        <div class="row"><a id="maisPrioridade" class="fa fa-chevron-up badge badge-light p-2" onclick="location.href='@Url.Action("MoverParaCima", "Candidaturas", new { id = (int)@curso.ID })'"><span></span></a></div>
                    }


                    <div class="row">&nbsp;&nbsp;@curso.prioridade&ordm;</div>

                    @if (ViewBag.finalizado == false)
                    {
                        <div class="row"><a id="menosPrioridade" class="fa fa-chevron-down badge badge-light p-2" onclick="location.href='@Url.Action("MoverParaBaixo", "Candidaturas", new { id = (int)@curso.ID })'"><span></span></a></div>
                    }
                    </td>

                <td>@curso.nome</td>
                
                <td>
                    @foreach (ExameObrigatorioDisplay exame in curso.ExamesNecessarios)
                    {
                        if (exame.obrigatorio)
                        {
                            <div>@exame.exame.Nome - (Obrigatório)</div>

                        }
                        else
                        {
                            <div>@exame.exame.Nome </div>

                        }
                    }
                </td>
                
                <td>
                    @if (ViewBag.finalizado == false)
                    {
                        <a id="removerCurso" class="fa fa-times-circle badge badge-danger text-light p-2 " onclick="location.href='@Url.Action("RemoverCurso", "Candidaturas", new { id = (int)@curso.ID })'"><span> Remover</span></a>
                    }
                </td>
            </tr>
                }
            }
        </table>
    </div>

    <div style="display:none;" class="row">
        <h2 class="candidaturasHeader">Exames</h2><hr />
        <div class="form-inline">
            <div class="col">
                @Html.DropDownList("Exame", ViewBag.Exame as SelectList, "Escolha uma opção...", new { @class = "form-control", @name = "ExameARegistar" })
            </div>
            <div class="col">
                <input id="AddExame" type="submit" value="Adicionar Exame" class="btn btn-outline-primary" />
            </div>
            <input id="SelectedExame" name="SelectedExame" type="hidden" runat="server" />
        </div>

        <table class="table my-4">
            @foreach (Exame exame in Model.ExamesEscolhidos)
            {
                <tr>
                    <td>@exame.Nome</td>
                    <td>
                        <a id="removerExame" class=" fa fa-times-circle badge badge-danger text-light p-2" onclick="location.href='@Url.Action("RemoverExame", "Candidaturas", new { id = (int)@exame.ID })'"><span> Remover</span></a>
                    </td>
                </tr>
            }
        </table>
    </div>

</div>
<div class="row">
        <input id="BotaoFinalizar"
               type="button"
               value="Continuar"
               class="btn btn-primary"
               onclick="location.href='@Url.Action("SubmeterCandidatura", "Candidaturas" )'"
               />
</div>

<script>
    window.onload = disableButton();


    function disableButton() {
        if (@ViewBag.CountCursosEscolhidos < 1 || @ViewBag.dadosPreenchidos == false || @ViewBag.inqueritoPreenchido == false || @ViewBag.finalizado == true) {
            var $button = $('#BotaoFinalizar');
            $button.prop('disabled', true);
        }

         if (@ViewBag.dadosPreenchidos == false || @ViewBag.inqueritoPreenchido == false || @ViewBag.finalizado == true) {
            var $button2 = $('#AddCurso');
             $button2.prop('disabled', true);
             var $button3 = $('#AddExame');
             $button3.prop('disabled', true);
             var $button4 = $('#Curso');
             $button4.prop('disabled', true);
             var $button5 = $('#Exame');
             $button5.prop('disabled', true);
        }


    }

    $('#Exame').bind('change', function () {
        $('#SelectedExame').val($(this).val());
    });

    $('#Curso').bind('change', function () {
        $('#SelectedCurso').val($(this).val());
    });

    $(document).ready(function () {

        $("#AddExame").click(function () {
            var hidValue = $("#SelectedExame").val();

            if (hidValue != "") {
                $.ajax({
                    url: '@Url.Action("AdicionarExame", "Candidaturas")',
                    type: "post",
                    data: { ExameSeleccionado: hidValue },
                    dataType: "application/json", //type of response
                    success: window.location.href = '',
                    error: window.location.href = '',
                })
            } else {
                window.alert("Por favor selecione um exame da lista.");
            }

        });

        $("#AddCurso").click(function () {
            var hidValue = $("#SelectedCurso").val();
            if (hidValue != "") {
                $.ajax({
                    url: '@Url.Action("AdicionarCurso", "Candidaturas")',
                    type: "post",
                    data: {CursoSeleccionado:hidValue},
                    dataType: "application/json", //type of response
                    success: window.location.href = '',
                    error: window.location.href = '',
                })
            } else {
                window.alert("Por favor selecione um curso da lista.");
            }
        });
    });

    //verifica se houve alterações na tab Candidatura
    var candidaturaChanged = false;

    $('#Exame').change(function () {
        candidaturaChanged = true;
    });
    $('#Curso').change(function () {
        candidaturaChanged = true;
    });

    function ValidacaoCurso() {
        var valido = true;

        if (numeroCursosEscolhidos != 0) {
            valido = false;
        }

    }

</script>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
