@model Candidaturas.Models.DadosPessoai

@{
    Layout = null;
}

@using (Html.BeginForm("AddOrEdit", "DadosPessoais", FormMethod.Post, new { @id = "formDadosPessoais", onsubmit = "finalValidation()" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal" style="margin-top: 20px;">

    <div class="column">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <h4>Informações Pessoais</h4>
        <hr class="dadosPessoaisHr" />

        <div class="form-group">
            @Html.LabelFor(model => model.NomeColoquial, "Nome Coloquial", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NomeColoquial, new { htmlAttributes = new { @class = "form-control", @Value = (ViewBag.DadosPessoais == null ? ViewBag.NomeCompleto : ViewBag.DadosPessoais.NomeColoquial) } })
                @Html.ValidationMessageFor(model => model.NomeColoquial, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nomes, "Nomes", htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nomes, new { htmlAttributes = new { @class = "form-control", @Value = (ViewBag.DadosPessoais == null ? "" : ViewBag.DadosPessoais.Nomes) } })
                @Html.ValidationMessageFor(model => model.Nomes, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Apelidos, "Apelidos", htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Apelidos, new { htmlAttributes = new { @class = "form-control", @Value = (ViewBag.DadosPessoais == null ? "" : ViewBag.DadosPessoais.Apelidos) } })
                @Html.ValidationMessageFor(model => model.Apelidos, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NomePai, "Nome do Pai", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NomePai, new { htmlAttributes = new { @class = "form-control", @Value = (ViewBag.DadosPessoais == null ? "" : ViewBag.DadosPessoais.NomePai) } })
                @Html.ValidationMessageFor(model => model.NomePai, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NomeMae, "Nome da Mãe", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NomeMae, new { htmlAttributes = new { @class = "form-control", @Value = (ViewBag.DadosPessoais == null ? "" : ViewBag.DadosPessoais.NomeMae) } })
                @Html.ValidationMessageFor(model => model.NomeMae, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Genero, "Género", htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Genero, ViewBag.Genero as SelectList, "Escolha uma opção...", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Genero, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EstadoCivil, "Estado Civil", htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.EstadoCivil, ViewBag.EstadoCivil as SelectList, "Escolha uma opção...", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EstadoCivil, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Telefone, "Telefone", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Telefone, new { htmlAttributes = new { @class = "form-control", @Value = (ViewBag.DadosPessoais == null ? "" : ViewBag.DadosPessoais.Telefone) } })
                @Html.ValidationMessageFor(model => model.Telefone, "", new { @class = "text-danger" })
                <span id="TelefoneWarning" for="Telefone" class="text-danger"></span>
            </div>
        </div>

        <br />
        <h4>Documentação Pessoal</h4>
        <hr class="dadosPessoaisHr" />

        <div class="form-group">
            @Html.LabelFor(model => model.TipoDocID, "Tipo de Documento de Identificação", htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.TipoDocID, ViewBag.TipoDocID as SelectList, "Escolha uma opção...", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TipoDocID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NDI, "Nº de Documento de Identificação", htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NDI, new { htmlAttributes = new { @class = "form-control", @Value = (ViewBag.DadosPessoais == null ? ViewBag.NDI : ViewBag.DadosPessoais.NDI) } })
                @Html.ValidationMessageFor(model => model.NDI, "", new { @class = "text-danger" })
                <span id="NDIWarning" for="NDI" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CCDigitosControlo, "Dígitos de Controlo do Cartão de Cidadão", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CCDigitosControlo, new { htmlAttributes = new { @class = "form-control", @Value = (ViewBag.DadosPessoais == null ? "" : ViewBag.DadosPessoais.CCDigitosControlo) } })
                @Html.ValidationMessageFor(model => model.CCDigitosControlo, "", new { @class = "text-danger" })
                <span id="DigConWarning" for="CCDigitosControlo" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NIF, "Nº de Identificação Fiscal", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NIF, new { htmlAttributes = new { @class = "form-control", @Value = (ViewBag.DadosPessoais == null ? "" : ViewBag.DadosPessoais.NIF) } })
                @Html.ValidationMessageFor(model => model.NIF, "", new { @class = "text-danger" })
                <span id="NIFWarning" for="NIF" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RepFinNIF, "Repartição de Finanças do NIF", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RepFinNIF, new { htmlAttributes = new { @class = "form-control", @Value = (ViewBag.DadosPessoais == null ? "" : ViewBag.DadosPessoais.RepFinNIF) } })
                @Html.ValidationMessageFor(model => model.RepFinNIF, "", new { @class = "text-danger" })
                <span id="RepFinWarning" for="RepFinNIF" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NSegSoc, "Nº de Segurança Social", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NSegSoc, new { htmlAttributes = new { @class = "form-control", @Value = (ViewBag.DadosPessoais == null ? "" : ViewBag.DadosPessoais.NSegSoc) } })
                @Html.ValidationMessageFor(model => model.NSegSoc, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="column">
        <h4>Naturalidade</h4>
        <hr class="dadosPessoaisHr" />

        <div class="form-group">
            @Html.LabelFor(model => model.Nacionalidade, "Natural de", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Nacionalidade, ViewBag.Nacionalidade as SelectList, "Escolha uma opção...", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Nacionalidade, "", new { @class = "text-danger" })
                <span id="NacWarning" for="NIF" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DistritoNatural, "Distrito", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.DistritoNatural, ViewBag.DistritoNatural as SelectList, "Escolha uma opção...", new { @class = "form-control", @onchange = "changeConcelhos(true)" })
                @Html.ValidationMessageFor(model => model.DistritoNatural, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConcelhoNatural, "Concelho", htmlAttributes: new { @id = "conc", @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ConcelhoNatural, ViewBag.ConcelhoNatural as SelectList, "Escolha uma opção...", new { @class = "form-control", @onchange = "changeFreguesias(true)" })
                @Html.ValidationMessageFor(model => model.ConcelhoNatural, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FreguesiaNatural, "Freguesia", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.FreguesiaNatural, ViewBag.FreguesiaNatural as SelectList, "Escolha uma opção...", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FreguesiaNatural, "", new { @class = "text-danger" })
            </div>
        </div>

        <br />
        <h4>Morada</h4>
        <hr class="dadosPessoaisHr" />

        <div class="form-group">
            @Html.LabelFor(model => model.Morada, "Morada", htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Morada, new { htmlAttributes = new { @class = "form-control", @Value = (ViewBag.DadosPessoais == null ? "" : ViewBag.DadosPessoais.Morada) } })
                @Html.ValidationMessageFor(model => model.Morada, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CodigoPostal4Dig, "Código Postal", htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                <div class="form-inline">
                    @Html.EditorFor(model => model.CodigoPostal4Dig, new { htmlAttributes = new { @class = "form-control", @style = "width:40%", @Value = (ViewBag.DadosPessoais == null ? "" : ViewBag.DadosPessoais.CodigoPostal4Dig) } })
                    @Html.EditorFor(model => model.CodigoPostal3Dig, new { htmlAttributes = new { @class = "form-control", @style = "width:20%", @Value = (ViewBag.DadosPessoais == null ? "" : ViewBag.DadosPessoais.CodigoPostal3Dig) } })
                </div>
                @Html.ValidationMessageFor(model => model.CodigoPostal4Dig, "", new { @class = "text-danger" })
                @Html.ValidationMessageFor(model => model.CodigoPostal3Dig, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Localidade, "Localidade", htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Localidade, ViewBag.Localidade as SelectList, "Escolha uma opção...", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Localidade, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DistritoMorada, "Distrito", htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.DistritoMorada, ViewBag.DistritoMorada as SelectList, "Escolha uma opção...", new { @class = "form-control", @onchange = "changeConcelhos(false)" })
                @Html.ValidationMessageFor(model => model.DistritoMorada, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConcelhoMorada, "Concelho", htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ConcelhoMorada, ViewBag.ConcelhoMorada as SelectList, "Escolha uma opção...", new { @class = "form-control", @onchange = "changeFreguesias(false)" })
                @Html.ValidationMessageFor(model => model.ConcelhoMorada, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FreguesiaMorada, "Freguesia", htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.FreguesiaMorada, ViewBag.FreguesiaMorada as SelectList, "Escolha uma opção...", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FreguesiaMorada, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Salvar" class="btn btn-default" />
        </div>
    </div>
</div>
}

<!--<script src="~/Scripts/jquery-1.10.2.min.js"></script>-->
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/Candidaturas.css">
<script type="text/javascript">
    $("#NIF").blur(function () {
        validarNIF();
        validarNacionalidade();
        validarRepFinancasNIF();
    });

    $("#RepFinNIF").blur(function () {
        validarRepFinancasNIF();
    });

    $("#NDI").blur(function () {
        validarCCouBI();
        mostrarPlaceholderFormatoCC();
    });

    $("#TipoDocID").change(function () {
        validarCCouBI();
        mostrarPlaceholderFormatoCC();
        validarNacionalidade();
        validarDigitosControlo();
    });

    $("#Nacionalidade").change(function () {
        validarNacionalidade();
    });

    $("#CCDigitosControlo").blur(function () {
        validarDigitosControlo();
    });

    //validar repartição de finanças do NIF RepFinWarning
    function validarRepFinancasNIF() {
        var valorNIF = $("#NIF").val();

        if (valorNIF != "") {
            var valorRepFinNIF = $("#RepFinNIF").val();

            if (valorRepFinNIF == "") {
                $("#RepFinWarning").text("Necessário preencher repartição de finanças do NIF.");
                $("#RepFinWarning").show();
                return false;
            }
            else {
                $("#RepFinWarning").hide();
                return true;
            }
        }
        else {
            if ($("#RepFinWarning").is(":visible")) {
                $("#RepFinWarning").hide();
            }
            return true;
        }
    }

    //validar NIF
    function validarNIF() {
        var nif = $("#NIF").val();

        if (nif == "") {
            $("#NIFWarning").hide();
            return true;
        }

        if (!['1', '2', '3', '5', '6', '8'].includes(nif.substr(0, 1)) &&
            !['45', '70', '71', '72', '77', '79', '90', '91', '98', '99'].includes(nif.substr(0, 2))) {
            $("#NIFWarning").text("Nº de identificação fiscal inválido.");
            $("#NIFWarning").show();
            return false;
        }
            

        let total = nif[0] * 9 + nif[1] * 8 + nif[2] * 7 + nif[3] * 6 + nif[4] * 5 + nif[5] * 4 + nif[6] * 3 + nif[7] * 2;

        let modulo11 = total - parseInt(total / 11) * 11;

        if (modulo11 == 1 || modulo11 == 0)
            comparador = 0;
        else
            comparador = 11 - modulo11;

        if (nif[8] != comparador) {
            $("#NIFWarning").text("Nº de identificação fiscal inválido.");
            $("#NIFWarning").show();
            return false;
        }

        $("#NIFWarning").hide();
        return true;
    }

    //validar nacionalidade se fôr Portugal
    $(document).ready(function () {
        var nacionalidade = $("#Nacionalidade").val();

        if (nacionalidade == "Portugal") {
            $("label[for='NIF']").last().addClass("required");
            $("label[for='RepFinNIF']").last().addClass("required");
            $("label[for='CCDigitosControlo']").last().addClass("required");
        }
        else {
            $("label[for='NIF']").removeClass("required");
            $("label[for='RepFinNIF']").removeClass("required");
            $("label[for='CCDigitosControlo']").removeClass("required");
        }
    });

    function validarNacionalidade() {
        var nacionalidade = $("#Nacionalidade").val();

        if (nacionalidade == "Portugal") {
            var tipoDocID = $("#TipoDocID").val();

            var NIF = $("#NIF").val();

            $("label[for='NIF']").last().addClass("required");
            $("label[for='RepFinNIF']").last().addClass("required");
            $("label[for='CCDigitosControlo']").last().addClass("required");

            if (validarDocumentoEscolhido(tipoDocID) && NIFNaoVazio(NIF)) {
                $("#NacWarning").hide();
                return true;
            }
            else {
                $("#NacWarning").text("Deve escolher cartão de cidadão ou bilhete de identidade e indicar NIF válido.");
                $("#NacWarning").show();
                return false;
            }
        }
        else {
            if ($("#NacWarning").is(":visible")) {
                $("#NacWarning").hide();
            }
            $("label[for='NIF']").removeClass("required");
            $("label[for='RepFinNIF']").removeClass("required");
            $("label[for='CCDigitosControlo']").removeClass("required");

            return true;
        }
    }

    function validarDocumentoEscolhido(tipoDocID) {
        return tipoDocID == "Cartão do Cidadão" || tipoDocID == "Bilhete de Identidade";
    }

    function NIFNaoVazio(nif) {
        return nif != "";
    }

    //mostrar formato do CC caso seleccionar esse
    function mostrarPlaceholderFormatoCC() {
        var chosenValue = $("#TipoDocID").val();

        if (validarDocumentoEscolhido(chosenValue)) {
            $("#NDI").attr("placeholder", "LLLLLLLL-NLLN");
        }
        else {
            $('#NDI').removeAttr('placeholder');
        }
    }

    //validar Cartão de Cidadão ou Bilhete de Identidade
    function validarCCouBI() {
        var chosenValue = $("#TipoDocID").val();

        if (validarDocumentoEscolhido(chosenValue)) {
            var term = $("#NDI").val();

            if (term != "") {
                var validation = regexCC();
                if (!validation) {
                    return false;
                }
                else {
                    return true;
                }
            }
        }
        else {
            if ($("#NDIWarning").is(":visible")) {
                $("#NDIWarning").hide();
            }
            return true;
        }
    }

    function validarDigitosControlo() {
        var chosenValue = $("#TipoDocID").val();

        if (validarDocumentoEscolhido(chosenValue)) {
            var digitosControlo = $("#CCDigitosControlo").val();

            if (digitosControlo == "") {
                $("#DigConWarning").text("Necessário preencher dígitos de controlo do cartão de cidadão.");
                $("#DigConWarning").show();
                return false;
            }
            else {
                $("#DigConWarning").hide();
                return true;
            }
        }
        else {
            if ($("#DigConWarning").is(":visible")) {
                $("#DigConWarning").hide();
            }
            return true;
        }
    }

    function regexCC() {
        var term = $("#NDI").val();
        var re = new RegExp("^[0-9]{8}[ -]*[0-9][A-Z]{2}[0-9]$");

        if (re.test(term)) {
            $("#NDIWarning").hide();
            return true;
        } else {
            $("#NDIWarning").text("Cartão de cidadão ou bilhete de identidade inválido.");
            $("#NDIWarning").show();
            return false;
        }
    }

    function finalValidation() {
        var valid = true;

        if (!validarCCouBI()) {
            valid = false;
        }

        if (!validarNIF()) {
            valid = false;
        }

        if (!validarNacionalidade()) {
            valid = false;
        }

        if (!validarTelefone()) {
            valid = false;
        }

        if (!validarDigitosControlo()) {
            valid = false;
        }

        if (!validarRepFinancasNIF()) {
            valid = false;
        }

        if (!valid) {
            event.preventDefault();
            return false;
        }
    }

    //verifica se houve alterações na tab Dados Pessoais
    var dadosPessoaisChanged = false;

    var warningMessage = "Voçê efectuou alterações na tab Dados Pessoais e não guardou as alterações. Tem a certeza que deseja sair?";

    $('#formDadosPessoais input').change(function () {
        dadosPessoaisChanged = true;
    });
    $('#formDadosPessoais select').change(function () {
        dadosPessoaisChanged = true;
    });

    //validar telefone
    $("#Telefone").blur(function () {
        validarTelefone()
    });

    function regexTelefone(telefone) {
        var re = /^(9[1236]\d{7}|2[1]\d{7})$/;

        return re.test(String(telefone));
    }

    function validarTelefone() {
        var telefone = $("#Telefone").val();

        if (telefone != "") {
            if (regexTelefone(telefone)) {
                $("#TelefoneWarning").hide();
                return true;
            }
            else {
                $("#TelefoneWarning").text("Telefone com formato inválido.");
                $("#TelefoneWarning").show();
                return false;
            }
        }
        else {
            if ($("#TelefoneWarning").is(":visible")) {
                $("#TelefoneWarning").hide();
            }
            return true;
        }
    }

    //altera os concelhos consoante o distrito escolhido
    function changeConcelhos(isNatural) {

        if (isNatural) {
            var distritoNaturalEscolhido = $('#DistritoNatural').val();

            $.ajax({
                url: '@Url.Action("UpdateConcelhos", "DadosPessoais")',
                data: {
                    distrito: distritoNaturalEscolhido
                },
                type: "POST",
                success: function (concelhos) {
                    var $select = $('#ConcelhoNatural');
                    $select.empty();
                    $select.append('<option value="">Escolha uma opção...</option>');

                    var $select2 = $('#FreguesiaNatural');
                    $select2.empty();
                    $select2.append('<option value="">Escolha uma opção...</option>');

                    $.each(concelhos, function (i, concelho) {
                        $('<option>', {
                            value: concelho.ID
                        }).html(concelho.Name).appendTo($select);
                    });
                },
                error: function (e) { console.log(e); }
            })
        }
        else {
            var distritoMoradaEscolhido = $('#DistritoMorada').val();

            $.ajax({
                url: '@Url.Action("UpdateConcelhos", "DadosPessoais")',
                data: {
                    distrito: distritoMoradaEscolhido
                },
                type: "POST",
                success: function (concelhos) {
                    var $select = $('#ConcelhoMorada');
                    $select.empty();
                    $select.append('<option value="">Escolha uma opção...</option>');

                    var $select2 = $('#FreguesiaMorada');
                    $select2.empty();
                    $select2.append('<option value="">Escolha uma opção...</option>');

                    $.each(concelhos, function (i, concelho) {
                        $('<option>', {
                            value: concelho.ID
                        }).html(concelho.Name).appendTo($select);
                    });
                },
                error: function (e) { console.log(e); }
            })
        }
    }

    //altera as freguesias consoante o concelho escolhido
    function changeFreguesias(isNatural) {

        if (isNatural) {
            var concelhoNaturalEscolhido = $('#ConcelhoNatural').val();

            $.ajax({
                url: '@Url.Action("UpdateFreguesias", "DadosPessoais")',
                data: {
                    concelho: concelhoNaturalEscolhido
                },
                type: "POST",
                success: function (freguesias) {
                    var $select = $('#FreguesiaNatural');
                    $select.empty();
                    $select.append('<option value="">Escolha uma opção...</option>');
                    $.each(freguesias, function (i, freguesia) {
                        $('<option>', {
                            value: freguesia.ID
                        }).html(freguesia.Name).appendTo($select);
                    });
                },
                error: function (e) { console.log(e); }
            })
        }
        else {
            var concelhoMoradaEscolhido = $('#ConcelhoMorada').val();

            $.ajax({
                url: '@Url.Action("UpdateFreguesias", "DadosPessoais")',
                data: {
                    concelho: concelhoMoradaEscolhido
                },
                type: "POST",
                success: function (freguesias) {
                    var $select = $('#FreguesiaMorada');
                    $select.empty();
                    $select.append('<option value="">Escolha uma opção...</option>');
                    $.each(freguesias, function (i, freguesia) {
                        $('<option>', {
                            value: freguesia.ID
                        }).html(freguesia.Name).appendTo($select);
                    });
                },
                error: function (e) { console.log(e); }
            })
        }
    }
</script>
<style>
    .dadosPessoaisHr {
        width: 85%;
    }
</style>