@model Candidaturas.Models.DadosPessoai

@{
    Layout = null;
}

@using (Html.BeginForm("AddOrEdit", "DadosPessoais", FormMethod.Post, new { @id = "formDadosPessoais", onsubmit = "finalValidation()" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal" style="margin-top: 20px;">

    <div class="column">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <h4 class="candidaturasHeader">Informações Pessoais</h4>

        <div class="form-group">
            @Html.LabelFor(model => model.NomeColoquial, "Nome Coloquial", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NomeColoquial, new { htmlAttributes = new { @class = "form-control", @Value = (ViewBag.DadosPessoais == null ? ViewBag.NomeCompleto : ViewBag.DadosPessoais.NomeColoquial) } })
                @Html.ValidationMessageFor(model => model.NomeColoquial, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nomes, "Nomes", htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nomes, new { htmlAttributes = new { @class = "form-control", @required = "required", @Value = (ViewBag.DadosPessoais == null ? "" : ViewBag.DadosPessoais.Nomes) } })
                @Html.ValidationMessageFor(model => model.Nomes, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Apelidos, "Apelidos", htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Apelidos, new { htmlAttributes = new { @class = "form-control", @required = "required", @Value = (ViewBag.DadosPessoais == null ? "" : ViewBag.DadosPessoais.Apelidos) } })
                @Html.ValidationMessageFor(model => model.Apelidos, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NomePai, "Nome do Pai", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NomePai, new { htmlAttributes = new { @class = "form-control", @Value = (ViewBag.DadosPessoais == null ? "" : ViewBag.DadosPessoais.NomePai) } })
                @Html.ValidationMessageFor(model => model.NomePai, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NomeMae, "Nome da Mãe", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NomeMae, new { htmlAttributes = new { @class = "form-control", @Value = (ViewBag.DadosPessoais == null ? "" : ViewBag.DadosPessoais.NomeMae) } })
                @Html.ValidationMessageFor(model => model.NomeMae, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Genero, "Género", htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Genero, ViewBag.Genero as SelectList, "Escolha uma opção...", new { @class = "form-control", @required = "required" })
                @Html.ValidationMessageFor(model => model.Genero, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EstadoCivil, "Estado Civil", htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.EstadoCivil, ViewBag.EstadoCivil as SelectList, "Escolha uma opção...", new { @class = "form-control", @required = "required" })
                @Html.ValidationMessageFor(model => model.EstadoCivil, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Telefone, "Telefone", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Telefone, new { htmlAttributes = new { @class = "form-control", @Value = (ViewBag.DadosPessoais == null ? "" : ViewBag.DadosPessoais.Telefone) } })
                @Html.ValidationMessageFor(model => model.Telefone, "", new { @class = "text-danger" })
            </div>
        </div>

        <hr class="dadosPessoaisHr" />

        <h4 class="candidaturasHeader">Morada</h4>

        <div class="form-group">
            @Html.LabelFor(model => model.Morada, "Morada", htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Morada, new { htmlAttributes = new { @class = "form-control", @required = "required", @Value = (ViewBag.DadosPessoais == null ? "" : ViewBag.DadosPessoais.Morada) } })
                @Html.ValidationMessageFor(model => model.Morada, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CodigoPostal4Dig, "Código Postal", htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                <div class="form-inline">
                    @Html.EditorFor(model => model.CodigoPostal4Dig, new { htmlAttributes = new { @type = "number", @maxlength = "4", @class = "form-control", @required = "required", @style = "width:40%", @placeholder = "1234", @Value = (ViewBag.DadosPessoais == null ? "" : ViewBag.DadosPessoais.CodigoPostal4Dig) } })
                    -
                    @Html.EditorFor(model => model.CodigoPostal3Dig, new { htmlAttributes = new { @type = "number", @maxlength = "3", @class = "form-control", @required = "required", @style = "width:20%", @placeholder = "123", @Value = (ViewBag.DadosPessoais == null ? "" : ViewBag.DadosPessoais.CodigoPostal3Dig) } })
                </div>
                @Html.ValidationMessageFor(model => model.CodigoPostal4Dig, "", new { @class = "text-danger" })
                @Html.ValidationMessageFor(model => model.CodigoPostal3Dig, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DistritoMorada, "Distrito", htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.DistritoMorada, ViewBag.DistritoMorada as SelectList, "Escolha uma opção...", new { @class = "form-control", @required = "required", @onchange = "changeConcelhos(false)" })
                @Html.ValidationMessageFor(model => model.DistritoMorada, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConcelhoMorada, "Concelho", htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ConcelhoMorada, ViewBag.ConcelhoMorada as SelectList, "Escolha uma opção...", new { @class = "form-control", @required = "required", @onchange = "changeFreguesias(false)" })
                @Html.ValidationMessageFor(model => model.ConcelhoMorada, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FreguesiaMorada, "Freguesia", htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.FreguesiaMorada, ViewBag.FreguesiaMorada as SelectList, "Escolha uma opção...", new { @class = "form-control", @required = "required" })
                @Html.ValidationMessageFor(model => model.FreguesiaMorada, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Localidade, "Localidade", htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Localidade, ViewBag.Localidade as SelectList, "Escolha uma opção...", new { @class = "form-control", @required = "required" })
                @Html.ValidationMessageFor(model => model.Localidade, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="column">
        <h4 class="candidaturasHeader">Naturalidade</h4>

        <div class="form-group">
            @Html.LabelFor(model => model.Nacionalidade, "País", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Nacionalidade, ViewBag.Nacionalidade as SelectList, "Escolha uma opção...", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Nacionalidade, "", new { @class = "text-danger" })
                <span id="NacWarning" for="NIF" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DistritoNatural, "Distrito", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.DistritoNatural, ViewBag.DistritoNatural as SelectList, "Escolha uma opção...", new { @class = "form-control", @onchange = "changeConcelhos(true)" })
                @Html.ValidationMessageFor(model => model.DistritoNatural, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConcelhoNatural, "Concelho", htmlAttributes: new { @id = "conc", @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ConcelhoNatural, ViewBag.ConcelhoNatural as SelectList, "Escolha uma opção...", new { @class = "form-control", @onchange = "changeFreguesias(true)" })
                @Html.ValidationMessageFor(model => model.ConcelhoNatural, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FreguesiaNatural, "Freguesia", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.FreguesiaNatural, ViewBag.FreguesiaNatural as SelectList, "Escolha uma opção...", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FreguesiaNatural, "", new { @class = "text-danger" })
            </div>
        </div>

        <hr class="dadosPessoaisHr" />

        <h4 class="candidaturasHeader">Documentação Pessoal</h4>

        <div class="form-group">
            @Html.LabelFor(model => model.TipoDocID, "Tipo de Documento de Identificação", htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.TipoDocID, ViewBag.TipoDocID as SelectList, "Escolha uma opção...", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TipoDocID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NDI, "Nº de Documento de Identificação", htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NDI, new { htmlAttributes = new { @class = "form-control", @Value = (ViewBag.DadosPessoais == null ? ViewBag.NDI : ViewBag.DadosPessoais.NDI) } })
                @Html.ValidationMessageFor(model => model.NDI, "", new { @class = "text-danger" })
                <span id="NDIWarning" for="NDI" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NIF, "Nº de Identificação Fiscal", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NIF, new { htmlAttributes = new { @class = "form-control", @Value = (ViewBag.DadosPessoais == null ? "" : ViewBag.DadosPessoais.NIF) } })
                @Html.ValidationMessageFor(model => model.NIF, "", new { @class = "text-danger" })
                <span id="NIFWarning" for="NIF" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RepFinNIF, "Repartição de Finanças do NIF", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RepFinNIF, new { htmlAttributes = new { @class = "form-control", @Value = (ViewBag.DadosPessoais == null ? "" : ViewBag.DadosPessoais.RepFinNIF) } })
                @Html.ValidationMessageFor(model => model.RepFinNIF, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NSegSoc, "Nº de Segurança Social", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NSegSoc, new { htmlAttributes = new { @class = "form-control", @Value = (ViewBag.DadosPessoais == null ? "" : ViewBag.DadosPessoais.NSegSoc) } })
                @Html.ValidationMessageFor(model => model.NSegSoc, "", new { @class = "text-danger" })
            </div>
        </div>

    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Guardar" class="btn btn-default" />
        </div>
    </div>
</div>
}

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<!--<link rel="stylesheet" type="text/css" href="~/Content/Candidaturas.css">-->
<script type="text/javascript">
    $("#NIF").blur(function () {
        validarNIF();
        validarNacionalidade();
    });

    $("#NDI").blur(function () {
        validarCCouBI();
        mostrarPlaceholderFormatoCCouBI();
    });

    $("#TipoDocID").change(function () {
        validarCCouBI();
        mostrarPlaceholderFormatoCCouBI();
        validarNacionalidade();
    });

    $("#Nacionalidade").change(function () {
        validarNacionalidade();
    });

    //validar NIF
    function validarNIF() {
        var nif = $("#NIF").val();

        if (nif == "") {
            $("#NIFWarning").hide();
            return true;
        }

        if (!['1', '2', '3', '5', '6', '8'].includes(nif.substr(0, 1)) &&
            !['45', '70', '71', '72', '77', '79', '90', '91', '98', '99'].includes(nif.substr(0, 2))) {
            $("#NIFWarning").text("Nº de identificação fiscal inválido.");
            $("#NIFWarning").show();
            return false;
        }
            

        let total = nif[0] * 9 + nif[1] * 8 + nif[2] * 7 + nif[3] * 6 + nif[4] * 5 + nif[5] * 4 + nif[6] * 3 + nif[7] * 2;

        let modulo11 = total - parseInt(total / 11) * 11;

        if (modulo11 == 1 || modulo11 == 0)
            comparador = 0;
        else
            comparador = 11 - modulo11;

        if (nif[8] != comparador) {
            $("#NIFWarning").text("Nº de identificação fiscal inválido.");
            $("#NIFWarning").show();
            return false;
        }

        $("#NIFWarning").hide();
        return true;
    }

    //validar nacionalidade se for Portugal (PT) 
    $(document).ready(function () {
        var nacionalidade = $("#Nacionalidade").val();

        if (nacionalidade == "PT") { 
            $("label[for='NIF']").last().addClass("required");
        }
        else {
            $("label[for='NIF']").removeClass("required");
        }
    });

    function validarNacionalidade() {
        var nacionalidade = $("#Nacionalidade").val();

        if (nacionalidade == "PT") {
            var tipoDocID = $("#TipoDocID").val();

            var NIF = $("#NIF").val();

            $("label[for='NIF']").last().addClass("required");

            if (validarDocumentoEscolhido(tipoDocID) && NIFNaoVazio(NIF)) {
                $("#NacWarning").hide();
                return true;
            }
            else {
                $("#NacWarning").text("Deve escolher cartão de cidadão ou bilhete de identidade e indicar NIF válido.");
                $("#NacWarning").show();
                return false;
            }
        }
        else {
            if ($("#NacWarning").is(":visible")) {
                $("#NacWarning").hide();
            }
            $("label[for='NIF']").removeClass("required");

            return true;
        }
    }

    function validarDocumentoEscolhido(tipoDocID) {
        return tipoDocID == "Cartão do Cidadão" || tipoDocID == "Bilhete de Identidade";
    }

    function NIFNaoVazio(nif) {
        return nif != "";
    }

    //mostrar formato do CC caso seleccionar esse
    function mostrarPlaceholderFormatoCCouBI() {
        var chosenValue = $("#TipoDocID").val();

        if (chosenValue == "Cartão do Cidadão") {
            $("#NDI").attr("placeholder", "DDDDDDDD-CAAT");
        }
        else if (chosenValue == "Bilhete de Identidade") {
            $("#NDI").attr("placeholder", "DDDDDDDD-C");
        }
        else {
            $('#NDI').removeAttr('placeholder');
        }
    }

    //validar Cartão de Cidadão ou Bilhete de Identidade
    function validarCCouBI() {
        var chosenValue = $("#TipoDocID").val();

        if (chosenValue == "Cartão do Cidadão") {
            var term = $("#NDI").val();

            if (term != "") {
                if (regexCC() && validarDigitosCC()) {
                    $("#NDIWarning").hide();
                    return true;
                }
                else {
                    $("#NDIWarning").text("Cartão de cidadão ou bilhete de identidade inválido.");
                    $("#NDIWarning").show();
                    return false;
                }
            }
        }
        if (chosenValue == "Bilhete de Identidade") {
            var term = $("#NDI").val();

            if (term != "") {
                if (regexBI() && validarDigitosBI()) {
                    $("#NDIWarning").hide();
                    return true;
                }
                else {
                    $("#NDIWarning").text("Cartão de cidadão ou bilhete de identidade inválido.");
                    $("#NDIWarning").show();
                    return false;
                }
            }
        }
        else {
            if ($("#NDIWarning").is(":visible")) {
                $("#NDIWarning").hide();
            }
            return true;
        }
    }

    function validarDigitosBI() {
        var bi = $("#NDI").val();
        var firstEight = bi.substring(0, 8);
        var lastDigit = bi[bi.length - 1];
        var sum = 0;
        var i;

        for (i = 0; i < firstEight.length; i++) {
            sum += firstEight[firstEight.length - (i + 1)] * (i + 2);
        }

        var res = sum % 11;

        if (res == 0 || res == 1) {
            res = 0;
        }
        else {
            res = 11 - res;
        }

        return res == lastDigit;
    }

    function validarDigitosCC() {
        var cc = $("#NDI").val();
        var aux = cc.replace('-', '');
        var sum = 0;
        var secondDigit = false;
        var i = 0;

        for (i = aux.length - 1; i >= 0; i--) {
            var digit = aux[i];
            var valor = getNumberFromChar(digit);

            if (secondDigit) {
                valor *= 2;
                if (valor > 9) {
                    valor -= 9;
                }
            }
            sum += valor;
            secondDigit = !secondDigit;
        }
        return (sum % 10) == 0;
    }

    function getNumberFromChar(char) {
        var res = 0;

        if (isNaN(char)) {
            switch (char) {
                case 'A': res = 10; break;
                case 'B': res = 11; break;
                case 'C': res = 12; break;
                case 'D': res = 13; break;
                case 'E': res = 14; break;
                case 'F': res = 15; break;
                case 'G': res = 16; break;
                case 'H': res = 17; break;
                case 'I': res = 18; break;
                case 'J': res = 19; break;
                case 'K': res = 20; break;
                case 'L': res = 21; break;
                case 'M': res = 22; break;
                case 'N': res = 23; break;
                case 'O': res = 24; break;
                case 'P': res = 25; break;
                case 'Q': res = 26; break;
                case 'R': res = 27; break;
                case 'S': res = 28; break;
                case 'T': res = 29; break;
                case 'U': res = 30; break;
                case 'V': res = 31; break;
                case 'W': res = 32; break;
                case 'X': res = 33; break;
                case 'Y': res = 34; break;
                case 'Z': res = 35; break;
            }
        }
        else {
            res = parseInt(char);
        }

        return res;
    }

    function regexCC() {
        var term = $("#NDI").val();
        var re = new RegExp("^[0-9]{8}[ -]*[0-9][A-Za-z]{2}[0-9]$");

        return re.test(term);
    }

    function regexBI() {
        var term = $("#NDI").val();
        var re = new RegExp("^[0-9]{8}[ -]*[0-9]$");

        return re.test(term);
    }

    function finalValidation() {
        var valid = true;

        if (!validarCCouBI()) {
            valid = false;
        }

        if (!validarNIF()) {
            valid = false;
        }

        if (!validarNacionalidade()) {
            valid = false;
        }

        if (!valid) {
            event.preventDefault();
            return false;
        }
    }

    //verifica se houve alterações na tab Dados Pessoais
    var dadosPessoaisChanged = false;

    var warningMessage = "Voçê efectuou alterações na tab Dados Pessoais e não guardou as alterações. Tem a certeza que deseja sair?";

    $('#formDadosPessoais input').change(function () {
        dadosPessoaisChanged = true;
    });
    $('#formDadosPessoais select').change(function () {
        dadosPessoaisChanged = true;
    });

    //altera os concelhos consoante o distrito escolhido
    function changeConcelhos(isNatural) {

        if (isNatural) {
            var distritoNaturalEscolhido = $('#DistritoNatural').val();
            var codigoDistrito = parseInt(distritoNaturalEscolhido);

            $.ajax({
                url: '@Url.Action("UpdateConcelhos", "DadosPessoais")',
                data: {
                    distrito: codigoDistrito
                },
                type: "POST",
                success: function (concelhos) {
                    var $select = $('#ConcelhoNatural');
                    $select.empty();
                    $select.append('<option value="">Escolha uma opção...</option>');

                    var $select2 = $('#FreguesiaNatural');
                    $select2.empty();
                    $select2.append('<option value="">Escolha uma opção...</option>');

                    $.each(concelhos, function (i, concelho) {
                        $('<option>', {
                            value: concelho.ID
                        }).html(concelho.Name).appendTo($select);
                    });
                },
                error: function (e) { console.log(e); }
            })
        }
        else {
            var distritoMoradaEscolhido = $('#DistritoMorada').val();
            var codigoDistrito = parseInt(distritoMoradaEscolhido);

            $.ajax({
                url: '@Url.Action("UpdateConcelhos", "DadosPessoais")',
                data: {
                    distrito: codigoDistrito
                },
                type: "POST",
                success: function (concelhos) {
                    var $select = $('#ConcelhoMorada');
                    $select.empty();
                    $select.append('<option value="">Escolha uma opção...</option>');

                    var $select2 = $('#FreguesiaMorada');
                    $select2.empty();
                    $select2.append('<option value="">Escolha uma opção...</option>');

                    var $select3 = $('#Localidade');
                    $select3.empty();
                    $select3.append('<option value="">Escolha uma opção...</option>');

                    $.each(concelhos, function (i, concelho) {
                        $('<option>', {
                            value: concelho.ID
                        }).html(concelho.Name).appendTo($select);
                    });
                },
                error: function (e) { console.log(e); }
            })
        }

    }

    //altera as freguesias consoante o concelho escolhido
    function changeFreguesias(isNatural) {

        if (isNatural) {
            var concelhoNaturalEscolhido = $('#ConcelhoNatural').val();
            var codigoConcelho = parseInt(concelhoNaturalEscolhido);

            $.ajax({
                url: '@Url.Action("UpdateFreguesias", "DadosPessoais")',
                data: {
                    concelho: codigoConcelho
                },
                type: "POST",
                success: function (freguesias) {
                    var $select = $('#FreguesiaNatural');
                    $select.empty();
                    $select.append('<option value="">Escolha uma opção...</option>');

                    $.each(freguesias, function (i, freguesia) {
                        $('<option>', {
                            value: freguesia.ID
                        }).html(freguesia.Name).appendTo($select);
                    });
                },
                error: function (e) { console.log(e); }
            })
        }
        else {
            var concelhoMoradaEscolhido = $('#ConcelhoMorada').val();
            var codigoConcelho = parseInt(concelhoMoradaEscolhido);

            $.ajax({
                url: '@Url.Action("UpdateFreguesias", "DadosPessoais")',
                data: {
                    concelho: codigoConcelho
                },
                type: "POST",
                success: function (freguesias) {
                    var $select = $('#FreguesiaMorada');
                    $select.empty();
                    $select.append('<option value="">Escolha uma opção...</option>');

                    var $select2 = $('#Localidade');
                    $select2.empty();
                    $select2.append('<option value="">Escolha uma opção...</option>');

                    $.each(freguesias, function (i, freguesia) {
                        $('<option>', {
                            value: freguesia.ID
                        }).html(freguesia.Name).appendTo($select);
                    });
                },
                error: function (e) { console.log(e); }
            })
        }

        changeLocalidades();
    }

    //altera as localidades consoante o distrito escolhido
    function changeLocalidades() {
        var distritoMoradaEscolhido = $('#DistritoMorada').val();
        var codigoDistrito = parseInt(distritoMoradaEscolhido);
        var concelhoMoradaEscolhido = $('#ConcelhoMorada').val();
        var codigoConcelho = parseInt(concelhoMoradaEscolhido);

        $.ajax({
            url: '@Url.Action("UpdateLocalidades", "DadosPessoais")',
            data: {
                distrito: codigoDistrito,
                concelho: codigoConcelho
            },
            type: "POST",
            success: function (localidades) {
                var $select = $('#Localidade');
                $select.empty();
                $select.append('<option value="">Escolha uma opção...</option>');

                $.each(localidades, function (i, localidade) {
                    $('<option>', {
                        value: localidade.ID
                    }).html(localidade.Name).appendTo($select);
                });
            },
            error: function (e) { console.log(e); }
        })
    }
</script>
<style>
    .dadosPessoaisHr {
        width: 85%;
    }
</style>