@model Candidaturas.Models.DocModel

@{
    Layout = null;
}

@using (Html.BeginForm("Upload", "Documentos", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="margin-top: 20px;">


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label for="FicheiroInput" class="btn btn-outline-primary p-3">Seleccionar Documento</label>
            <input type="file" name="file" id="FicheiroInput" hidden />
        </div>
        <span id="myfilename"></span>

        <div class="form-group" id="docDesc" hidden>
            @Html.EditorFor(model => model.DocumentoInfo.Descricao, new { htmlAttributes = new { @class = "form-control", @placeholder = "Descrição (opcional)" } })
        </div>
        <span class="col text-danger text-center" id="errorFile">
            @TempData["LogError"]
        </span>

        <div class="row my-2">
            <div class="col">
                <input type="submit" value="Enviar Documento" class="btn btn-primary" id="sendFile" hidden />
            </div>
        </div>

        @if (ViewBag.DocumentosUser != null)
        {
        <div class="container">
            <table class="table">
                @foreach (var documento in @ViewBag.DocumentosUser)
                {
                    <tr>
                        <td>
                            <div class="row">
                                <div class="col-6">@documento.DocumentoInfo.Nome</div>
                                <div class="col"><a class="fa fa-download badge badge-primary text-light p-2" onclick="location.href='@Url.Action("DownloadDocumento", "Documentos", new { id = (int)documento.DocumentoInfo.ID })'"><span> Download</span></a></div>
                                <div class="col"><a class="fa fa-minus-circle badge badge-danger text-light p-2" onclick="location.href='@Url.Action("RemoveDocumento", "Documentos", new { id = (int)documento.DocumentoInfo.ID })'"><span> Remover</span></a></div>
                            </div>
                            @if (documento.DocumentoInfo.Descricao != null)
                            {
                                <div class="row my-2 px-5">
                                    <p class="text-muted">@documento.DocumentoInfo.Descricao</p>
                                </div>
                            }

                        </td>
                    </tr>
                }
            </table>
        </div>
        }
        else
        {
        <p> Use esta funcionalidade para enviar guardar ficheiros no portal</p>
        }
    </div>
}

@if (Session["ErrorDoc"] != null)
{
    <script>
    $(document).ready(function () {
        var error = @Session["ErrorDoc"];
        if (error == 1) {
            $("#errorLabel").show();
        }
        else {
            $("#errorLabel").hide();
        }
    });
    </script>
}

    <style>
        .label-danger {
            width: 310px;
        }
    </style>

<script type="text/javascript">
    $(document).ready(function () {
        $("#FicheiroInput").change(function () {
            //gets file size in bytes
            var filesize = this.files[0].size;
            //gets file name
            var filename = this.files[0].name;
            var filetype = this.files[0].type;
            //gets filename
            console.log("size:" + filesize + "\nname:" + filename + "\ntype: " + filetype);
            var isValid = true;

            if (filesize > 5 * 1024 * 1024) {
                isValid = false;
                $("#errorFile").text("Ficheiro com tamanho inválido, máximo é 5MB");
            }
            if (filename.size > 50) {
                isValid = false;
                $("#errorFile").text("Nome do documento muito longo, máximo são 50 caracteres");
            }
            if (filetype != "application/pdf" && filetype != "image/jpeg") {
                isValid = false;
                $("#errorFile").text("Documento tem de ser do tipo .jpeg ou .pdf");
            }
            if (isValid) {
                $("#errorFile").text("");
                $('#docDesc').prop('hidden', false);
                $('#myfilename').text(filename);
                $('#sendFile').prop('hidden', false);
            }
            else {
                $('#docDesc').prop('hidden', true);
                $('#myfilename').text("");
                $('#sendFile').prop('hidden', true);
            }

        });
    });

</script>
