@model Candidaturas.Models.Documento

@{
    Layout = null;
}

@using (Html.BeginForm("Upload", "Documentos", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="margin-top: 20px;">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Descricao, "Descrição", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ficheiro, "Ficheiro PDF/JPEG", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="file" id="FicheiroInput" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-2">
                <label id="errorLabel" class="label-danger" style="display:none">Por favor insira um ficheiro pdf ou jpeg válido.</label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Adicionar Documento" class="btn btn-default" />
            </div>
        </div>

        @if(ViewBag.DocumentosEscolhidos != null) { 
        <table class="table" style="margin-top: 30px;width:60% !important;">
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th></th>
                <th></th>
            </tr>
            @foreach (var documento in @ViewBag.DocumentosEscolhidos)
            {
                <tr>
                    <td>@documento.Nome</td>
                    <td>@documento.Descricao</td>
                    <td>
                        <a class="glyphicon glyphicon-download" onclick="location.href='@Url.Action("DescarregarDocumento", "Documentos", new { id = (int)documento.ID})'"><span style="font-family:Arial,Helvetica,sans-serif;padding-left: 5px;">Download</span></a>
                    </td>
                    <td>
                        <a class="glyphicon glyphicon-remove-circle" onclick="location.href='@Url.Action("RemoverDocumento", "Documentos", new { id = (int)documento.ID})'"><span style="font-family:Arial,Helvetica,sans-serif;padding-left: 5px;">Remover</span></a>
                    </td>
                </tr>
            }
        </table>
        }
    </div>
}
@if (Session["ErrorDoc"] != null)
{
    <script>
    $(document).ready(function () {
        var error = @Session["ErrorDoc"];

        if (error == 1) {
            $("#errorLabel").show();
        }
        else {
            $("#errorLabel").hide();
        }
    });
    </script>
}

<style>
    .label-danger {
        width: 310px;
    }
</style>
<script type="text/javascript">
    //verifica se houve alterações na tab Documentos
    var documentoChanged = false;

    $('#Descricao').change(function () {
        documentoChanged = true;
    });
    $('#FicheiroInput').change(function () {
        documentoChanged = true;
    });

    var warningMessage = "Voçê efectuou alterações na tab Dados Pessoais e não guardou as alterações. Tem a certeza que deseja sair?";

    var warningMessage2 = "Voçê efectuou alterações na tab Inquerito e não guardou as alterações. Tem a certeza que deseja sair?";

    var warningMessage3 = "Voçê efectuou alterações na tab Candidaturas e não guardou as alterações. Tem a certeza que deseja sair?";

    var warningMessage4 = "Voçê efectuou alterações na tab Documentos e não guardou as alterações. Tem a certeza que deseja sair?";


    //avisa quando o utilizador abandona a tab Dados Pessoais ou Inquerito com alterações por gravar
    $(function () {
        $("#tabs").tabs({
            beforeActivate: function (event, ui) {
                var selectedTab = $("#tabs").tabs('option', 'active');

                if (selectedTab == 0) {
                    if (dadosPessoaisChanged && !confirm(warningMessage)) {
                        return false;
                    }
                }

                if (selectedTab == 1) {
                    if (inqueritoChanged && !confirm(warningMessage2)) {
                        return false;
                    }
                }

                if (selectedTab == 2) {
                    if (candidaturaChanged && !confirm(warningMessage3)) {
                        return false;
                    }
                }

                if (selectedTab == 3) {
                    if (documentoChanged && !confirm(warningMessage4)) {
                        return false;
                    }
                }
            }
        });
    });
</script>