@model Candidaturas.Models.User

@{
    ViewBag.Title = "Recuperação de Palavra-Passe";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Recuperação de Palavra-Passe</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <div class="header">
        <img src="~/Content/img/marinha.png" alt="Logo Marinha" />
        <h1>Recuperação de Password</h1>
    </div>

    <div id="form-horizontal" class="form-group" style="margin-top: 20px;">
        @using (Html.BeginForm("RecoverPassword", "Password", FormMethod.Post))
        {
            <table>
                <br />
                <tr>
                    <td>@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                    <td>@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @required = true, @style= "width: 250px;" } })</td>
                </tr>
                <tr>
                    <td></td>
                    <td>@Html.ValidationMessageFor(model => model.Email)</td>
                </tr>
                <tr>
                    <td></td>
                    <td><span class="text-danger">@ViewBag.PasswordError</span></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" name="name" value="Recuperar Password" class="btn btn-default" />
                        @Html.ActionLink("Voltar", "Index", "Login", null, new { @class = "btn btn-default" })
                    </td>
                </tr>
            </table>
        }

    </div>
</body>
</html>
